body{

    background-color: aquamarine;
    
    }
    
    #tit{
        text-align: center;
        align-content:center;
        background-color: beige;
        color: lightseagreen;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }